{
  "SaveName": "不吃胡萝卜1125的世界",
  "WorldName": "952814",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": true,
  "HostID": 435210264,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "不吃胡萝卜1125的世界",
  "RoomType": 1,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1650783162,
  "TotalPlayTime": 19893,
  "UpdateTime": 1650776824,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "D:\\MCLDownload\\Game\\celestyuan@163.com\\LanGameHost\\不吃胡萝卜1125的世界",
  "GUID": "LanGame-2f5c8e78-88cb-4b67-ae3d-680110aaf1be",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "aib": false,
      "Name": "不吃胡萝卜1125",
      "CreatedTimeStamp": 1650716173,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": true,
  "Java": 8,
  "ServerID": 0,
  "tag_ids": [],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}